td {
    max-width: 90px;
    overflow: scroll;
    text-overflow: clip;
    white-space: normal;
    cursor: pointer;
}

td:hover {
    text-decoration: underline;
}

td.no {
    text-decoration: unset;
    cursor: default;
}