<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" value="" placeholder="Search" class="form-control" [(ngModel)]="filteredStatus" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <a style="cursor: pointer;" class="btn dropdown-toggle" data-toggle="dropdown">
                            {{filter}}
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" *ngFor="let colum of getHeaderRow(); let i = index" (click)="setFilteredPreference(i)">{{colum}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">

            <div class="dropdown">
                <a style="cursor: pointer;" class="btn dropdown-toggle" data-toggle="dropdown">
                                            {{filterInitiative}}
                                <b class="caret"></b>
                                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a style="cursor: pointer;" (click)="setInitiativeForEvents(0, 'No Initiative')">No Initiative</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" *ngFor="let initiative of getInitiatives()" (click)="setInitiativeForEvents(initiative.getIdInitiative(), initiative.getName())">{{initiative.getName()}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <a style="cursor: pointer;" class="btn btn-primary btn-success" (click)="openAddOrUpdateEvent(event, -1)">
                <span class="glyphicon glyphicon-plus"></span> Add Event
            </a>
        </div>

    </div>
</div>

<hr>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="top: 200px;">
        <div class="row">
            <div class="col-md-6">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete it?&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c(true)">Accept</button>
        <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
    </div>
</ng-template>

<ng-template #event let-c="close" let-d="dismiss">
    <div class="modal-header" style="top: 200px;">
        <div class="row">
            <div class="col-md-6">
                <h4 class="modal-title">{{titleModal}}</h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="header">
                <h4 class="title">{{messageModal}}</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit(f, d(false))" #f="ngForm">
                    <div id="eventData" ngModelGroup="eventData" #eventData="ngModelGroup">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !initiativeName.valid && initiativeName.touched}">
                                    <label>Name</label>
                                    <input type="text" id="initiativeName" class="crossSearch form-control border-input" ngModel name="initiativeName" placeholder="Name..." required #initiativeName="ngModel">
                                    <span class="help-block" *ngIf="!initiativeName.valid && initiativeName.touched">Insert Name</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !location.valid && location.touched}">
                                    <label>Location</label>
                                    <input value="hola" type="text" id="location" class="form-control border-input" ngModel name="location" required #location="ngModel" placeholder="Location...">
                                    <span class="help-block" *ngIf="!location.valid && location.touched">Insert Location</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="header">
                                <h4 class="title">Start Date</h4>
                            </div>
                        </div>
                        <div id="startDate" ngModelGroup="startDate" #startDate="ngModelGroup">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-error': !sDate.valid && sDate.touched}">
                                        <label>Date</label>
                                        <input value="" type="text" maxlength="10" id="date" class="form-control border-input" ngModel name="sDate" required #sDate="ngModel" placeholder="MM/DD/YYYY">
                                        <span class="help-block" *ngIf="!sDate.valid && sDate.touched">Insert Start Date</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': !sHour.valid && sHour.touched}">
                                        <label>Hour</label>
                                        <input type="number" class="form-control border-input" [min]="0" [max]="23" ngModel placeholder="hh" name="sHour" required #sHour="ngModel">
                                        <span class="help-block" *ngIf="!sHour.valid && sHour.touched">Insert Hour</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': !sMins.valid && sMins.touched}">
                                        <label>Minutes</label>
                                        <input type="number" class="form-control border-input" [min]="0" [max]="59" ngModel placeholder="mm" name="sMins" required #sMins="ngModel">
                                        <span class="help-block" *ngIf="!sMins.valid && sMins.touched">Insert Mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="header">
                                <h4 class="title">End Date</h4>
                            </div>
                        </div>
                        <div id="startDate" ngModelGroup="endDate" #endDate="ngModelGroup">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-error': !eDate.valid && eDate.touched}">
                                        <label>Date</label>
                                        <input value="" type="text" maxlength="10" id="date" class="form-control border-input" ngModel name="eDate" required #eDate="ngModel" placeholder="MM-DD-YYYY">
                                        <span class="help-block" *ngIf="!eDate.valid && eDate.touched">Insert Start Date</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': !eHour.valid && eHour.touched}">
                                        <label>Hour</label>
                                        <input type="number" class="form-control border-input" [min]="0" [max]="23" ngModel placeholder="hh" name="eHour" required #eHour="ngModel">
                                        <span class="help-block" *ngIf="!eHour.valid && eHour.touched">Insert Hour</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': !eMins.valid && eMins.touched}">
                                        <label>Minutes</label>
                                        <input type="number" class="form-control border-input" [min]="0" [max]="59" ngModel placeholder="mm" name="eMins" required #eMins="ngModel">
                                        <span class="help-block" *ngIf="!eMins.valid && eMins.touched">Insert Mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !email.valid && email.touched}">
                                    <label>Email</label>
                                    <input type="text" id="email" class="crossSearch form-control border-input" ngModel name="email" placeholder="Email..." required #email="ngModel">
                                    <span class="help-block" *ngIf="!email.valid && email.touched">Insert Email</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !status.valid && status.touched}">
                                    <label>Active</label>
                                    <select class="form-control" ngModel name="status" #status="ngModel" placeholder="Active..." required>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                    <span class="help-block" *ngIf="!status.valid && status.touched">Insert Active...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !description.valid && description.touched}">
                                    <label>Initiative</label>
                                    <select class="form-control" ngModel name="idInitative" #idInitative="ngModel" placeholder="Initiative..." required>
                                                <option value="{{initativeEl.getIdInitiative()}}" *ngFor="let initativeEl of getInitiatives()" >{{initativeEl.getName()}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="!description.valid && description.touched">Insert Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !description.valid && description.touched}">
                                    <label>Description</label>
                                    <textarea rows="4" id="description" class="form-control border-input" ngModel name="description" required #description="ngModel" placeholder="Description...">
                                </textarea>
                                    <span class="help-block" *ngIf="!description.valid && description.touched">Insert Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!f.valid">Add Event</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
    </div>
</ng-template>


<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Events</h4>
                    <p class="category">List of Events</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of getHeaderRow() ">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of (getRows()| filter:filteredStatus:filterPreference);let i=index">
                                <div *ngIf="!row; else emptyEvents">

                                </div>
                                <ng-template #emptyEvents>
                                    <td>{{row.getName()}}</td>
                                    <td style="text-align: justify;">{{row.getDescription()}}</td>
                                    <td>{{row.getStartDate() | dateFormat }}</td>
                                    <td>{{row.getEndDate() | dateFormat }}</td>
                                    <td>{{row.getLocation()}}</td>
                                    <td *ngIf="row.getStatus(); else noActive">
                                        <span class="label label-success">Yes</span>
                                    </td>
                                    <ng-template #noActive>
                                        <td>
                                            <span class="label label-danger" style="margin-right: 5px;">No</span>
                                        </td>
                                    </ng-template>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-primary a-btn-slide-text" (click)="openAddOrUpdateEvent(event, row.getIdEvent())">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-danger a-btn-slide-text" (click)="openOnDeleteEvent(content, row.getIdEvent(), i)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-trash-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                </ng-template>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>