<!-->
// Modal to eliminate Initiative
<-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header" style="top: 200px;">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="col-md-6">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete it?&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c(true)">Accept</button>
            <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
        </div>
    </ng-template>
    <!-->
    // -- End of modal elimante ------------------------------------------------------------------------------------------------------------- Modal to add Initiative
    <-->
        <ng-template #addInitiative let-c="close" let-d="dismiss">
            <div class="modal-header" style="top: 200px;">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="modal-title">Adding</h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add Initiative</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="onAddSubmit(fa, d(false))" #fa="ngForm">
                            <div id="initiativeData" ngModelGroup="newInitiative" #newInitiative="ngModelGroup">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Name of Initiative</label>
                                            <input type="text" id="name" class="crossSearch form-control border-input" ngModel name="name" placeholder="Name..." required #name="ngModel">
                                            <span class="help-block" *ngIf="!name.valid && name.touched">Insert Name</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image URL</label>
                                            <input value="hola" type="text" id="newUrl" class="form-control border-input" ngModel name="newUrl" required #newUrl="ngModel" placeholder="Image URL...">
                                            <span class="help-block" *ngIf="!newUrl.valid && newUrl.touched">Insert url</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" id="desc" class="form-control border-input" ngModel name="desc" required #desc="ngModel" placeholder="Description...">
                                        </textarea>
                                            <span class="help-block" *ngIf="!desc.valid && !desc.touched">Insert Description</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!fa.valid">Create</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
            </div>
        </ng-template>

        <!-->

        // -- End of adding modal // ------------------------------------------------------------------------------------------------------------- // Modal to update Initiative
        <-->
            <ng-template #updateProfile let-c="close" let-d="dismiss">
                <div class="modal-header" style="top: 200px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="modal-title">Editing</h4>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Edit Initiative</h4>
                        </div>
                        <div class="content">
                            <form (ngSubmit)="onSubmit(f, d(false))" #f="ngForm">
                                <div id="initiativeData" ngModelGroup="initiativeData" #initiativeData="ngModelGroup">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name of Initiative</label>
                                                <input type="text" id="initiativeName" class="crossSearch form-control border-input" ngModel name="initiativeName" placeholder="Name..." required #initiativeName="ngModel">
                                                <span class="help-block" *ngIf="!initiativeName.valid && initiativeName.touched">Insert Name</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Image URL</label>
                                                <input value="hola" type="text" id="url" class="form-control border-input" ngModel name="url" required #url="ngModel" placeholder="Image URL...">
                                                <span class="help-block" *ngIf="!url.valid && url.touched">Insert url</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="4" id="description" class="form-control border-input" ngModel name="description" required #description="ngModel" placeholder="Description...">
                                    </textarea>
                                                <span class="help-block" *ngIf="!description.valid && description.touched">Insert Description</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!f.valid">Update Profile</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
                </div>
            </ng-template>
            <!-->
            // -- End of eliminating modal // -------------------------------------------------------------------------------------------------------------
            <-->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Search" class="form-control" [(ngModel)]="filteredStatus" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dropdown">
                                <a style="cursor: pointer;" class="btn dropdown-toggle" data-toggle="dropdown">
                                {{filter}}
                    <b class="caret"></b>
                    </a>
                                <ul class="dropdown-menu">
                                    <li><a style="cursor: pointer;" *ngFor="let colum of getHeaderRow(); let i = index" (click)="setFilteredPreference(i)">{{colum}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a style="cursor: pointer;" class="btn btn-primary btn-success" (click)="openCreateInitiative(addInitiative)">
                                <span class="glyphicon glyphicon-plus"></span> Add New Initiative
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Initiatives</h4>
                                    <p class="category">List of Initiatives</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let cell of getHeaderRow() ">{{ cell }}</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of (getRows()| filter:filteredStatus:filterPreference);let i=index">
                                                <div *ngIf="!row; else emptyEvents">
                                                </div>
                                                <ng-template #emptyEvents>
                                                    <td style="text-align: justify;">{{row.getName()}}</td>
                                                    <td style="text-align: justify;">{{row.getDescription()}}</td>
                                                    <td><img [src]="row.getImageUrl()" width="300" height="200"></td>
                                                    <td>
                                                        <a style="cursor: pointer;" class="btn btn-primary a-btn-slide-text" (click)="openUpdateProfile(updateProfile, row.getIdInitiative(), i )">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                            <span><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong></span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a style="cursor: pointer;" class="btn btn-danger a-btn-slide-text" (click)="openDeleteInitiative(content, row.getIdInitiative(), i)">
                                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                            <span><strong><i class="fa fa-trash-o" aria-hidden="true"></i></strong></span>
                                                        </a>
                                                    </td>
                                                </ng-template>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>