<div *ngIf="!getActivityRow(); else emptyEvents"></div>
<ng-template #emptyEvents>
    <td>{{getActivityRow().getName()}}</td>
    <td>{{getActivityRow().getStartTime() | dateFormat }}</td>
    <td>{{getActivityRow().getEndTime() | dateFormat }}</td>
    <td>
        <a style="cursor: pointer;" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong></span>
        </a>
    </td>
    <td>
        <a style="cursor: pointer;" class="btn btn-danger a-btn-slide-text">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span><strong><i class="fa fa-trash-o" aria-hidden="true"></i></strong></span>
        </a>
    </td>
</ng-template>