<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Event Phones</h4>
                    <p class="category">List of Event Phone</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of getHeaderRow() ">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of getRows() ;let i=index">
                                <div *ngIf="!row; else emptyPhones"></div>
                                <ng-template #emptyPhones>
                                    <td style="text-align: justify;">{{row.getPhone()}}</td>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-primary a-btn-slide-text" (click)="updateEventPhone.addUpdateEvenPhoneModal(row.getIdEventPhone())">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-danger a-btn-slide-text" (click)="deleteEventPhone.deleteEventPhoneModal(row.getIdEventPhone())">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-trash-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-update-event-phone #updateEventPhone></app-add-update-event-phone>
<app-delete-event-phone #deleteEventPhone></app-delete-event-phone>