<div class="col-lg-3 col-md-5 animated fadelnLeft">
    <div class="card card-user">
        <div class="image">
            <img [src]="'../../../assets/img/STEMconnector/cardImage.jpg'" alt="..." />
        </div>
        <div class="content">
            <div class="author">
                <img class="avatar border-white" [src]="getSpeaker().getImageUrl()" alt="..." (error)="getSpeaker().setImageUrl('../../../assets/img/STEMconnector/STEMconnectorLogo.png')" />
                <h4 class="title">{{getSpeaker().getName()}}<br/>
                </h4>
            </div>
            <p class="description text-center">
                {{getSpeaker().getTitle()}}
            </p>
        </div>
        <hr>
        <div class="text-center">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <button class="btn btn-sm btn-default btn-icon" style="margin-bottom: 10px;" (click)="bioSpeaker.bioModalSpeaker()"><i class="fa fa-address-card-o"></i></button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-primary btn-icon" style="margin-bottom: 10px;" (click)="addUpdateSpeaker.updateModalSpeaker()"><i class="fa fa-pencil-square-o"></i></button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-danger btn-icon" style="margin-bottom: 10px;" (click)="deleteSpeaker.deleteModalSpeaker()"><i class="fa fa-trash-o" ></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <button class="btn btn-sm btn-success btn-icon" style="margin-bottom: 10px;" (click)="addOrDeleteEvents.addOrDeleteEventsSpeaker(getSpeaker())">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-info btn-icon" style="margin-bottom: 10px;" (click)="eventsSpeaker.eventsSpeakerModal()">
                        <i class="fa fa-users"></i>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-warning btn-icon" style="margin-bottom: 10px;" (click)="addUpdateSpeaker.updateModalSpeaker()">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<app-delete-modal #deleteSpeaker [idSpeaker]="getSpeaker().getIdSpeaker()" [indexSpeaker]="getIndex()"></app-delete-modal>
<app-bio-modal #bioSpeaker [bio]="getSpeaker().getBio()"></app-bio-modal>
<app-update-add-model #addUpdateSpeaker [idSpeaker]="getSpeaker().getIdSpeaker()"></app-update-add-model>
<app-add-delete-events #addOrDeleteEvents [speakerData]="getSpeaker()"></app-add-delete-events>
<app-events-speaker #eventsSpeaker [speakerSelected]="getSpeaker()"></app-events-speaker>