<ng-template #addUpdateIntern let-c="close" let-d="dismiss">
    <div class="modal-header" style="top: 200px;">
        <div class="row">
            <div class="col-md-6">
                <h4 class="modal-title">{{getTitleModal()}}</h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="header">
                <h4 class="title">{{getMessageModal()}}</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit(f, d(false))" #f="ngForm">
                    <div id="internData" ngModelGroup="internData" #internData="ngModelGroup">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !name.valid && name.touched}">
                                    <label>Name</label>
                                    <input type="text" id="name" class="crossSearch form-control border-input" ngModel name="name" placeholder="Name..." required #name="ngModel">
                                    <span class="help-block" *ngIf="!name.valid && name.touched">Insert Name</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !country.valid && country.touched}">
                                    <label>Country</label>
                                    <input type="text" id="country" class="crossSearch form-control border-input" ngModel name="country" placeholder="Country..." required #country="ngModel">
                                    <span class="help-block" *ngIf="!country.valid && country.touched">Insert Country</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !photo.valid && photo.touched}">
                                    <label>Photo Url</label>
                                    <input type="text" id="photo" class="crossSearch form-control border-input" ngModel name="photo" placeholder="Photo Url..." required #photo="ngModel">
                                    <span class="help-block" *ngIf="!photo.valid && photo.touched">Insert Photo Url</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !flagImage.valid && flagImage.touched}">
                                    <label>Flag image Url</label>
                                    <input type="text" id="flagImage" class="crossSearch form-control border-input" ngModel name="flagImage" placeholder="Flag Image Url..." required #flagImage="ngModel">
                                    <span class="help-block" *ngIf="!flagImage.valid && flagImage.touched">Insert Image Url</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !rol.valid && rol.touched}">
                                    <label>Rol</label>
                                    <input type="text" id="rol" class="crossSearch form-control border-input" ngModel name="rol" placeholder="Rol..." required #rol="ngModel">
                                    <span class="help-block" *ngIf="!rol.valid && rol.touched">Insert Rol</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !linkedIn.valid && linkedIn.touched}">
                                    <label>LinkedIn</label>
                                    <input type="text" id="linkedIn" class="crossSearch form-control border-input" ngModel name="linkedIn" placeholder="LinkedIn..." required #linkedIn="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !description.valid && description.touched}">
                                    <label>Description</label>
                                    <textarea rows="4" id="description" class="form-control border-input" ngModel name="description" required #description="ngModel" placeholder="Description...">
                                    </textarea>
                                    <span class="help-block" *ngIf="!description.valid && description.touched">Insert Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!f.valid">Done!</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
    </div>
</ng-template>