<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" value="" placeholder="Search" class="form-control" [(ngModel)]="filteredStatus" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <a style="cursor: pointer;" class="btn dropdown-toggle" data-toggle="dropdown">
                                {{filter}}
                    <b class="caret"></b>
                    </a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" *ngFor="let colum of getHeaderRow(); let i = index" (click)="setFilteredPreference(i)">{{colum}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Events</h4>
                    <p class="category">List of Events</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of getHeaderRow() ">{{ cell }}</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of getRows() | filter:filteredStatus:filterPreference">
                                <div *ngIf="!row; else emptyEvents">
                                </div>
                                <ng-template #emptyEvents>
                                    <td style="text-align: justify;">{{row.getName()}}</td>
                                    <td style="text-align: justify;">{{row.getDescription()}}</td>
                                    <td><img [src]="row.getImageUrl()" alt="Mountain View" width="300" height="200"></td>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-primary a-btn-slide-text">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a style="cursor: pointer;" class="btn btn-danger a-btn-slide-text">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong><i class="fa fa-trash-o" aria-hidden="true"></i></strong></span>
                                        </a>
                                    </td>
                                </ng-template>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>