<ng-template #addUpdateActivity let-c="close" let-d="dismiss">
    <div class="modal-header" style="top: 200px;">
        <div class="row">
            <div class="col-md-6">
                <h4 class="modal-title">{{getTitleModal()}}</h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="header">
                <h4 class="title">{{getMessageModal()}}</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit(f, d(false))" #f="ngForm">
                    <div id="speakerData" ngModelGroup="speakerData" #speakerData="ngModelGroup">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !name.valid && name.touched}">
                                    <label>Name</label>
                                    <input type="text" id="name" class="crossSearch form-control border-input" ngModel name="name" placeholder="Name..." required #name="ngModel">
                                    <span class="help-block" *ngIf="!name.valid && name.touched">Insert Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !startTime.valid && startTime.touched}">
                                    <label>Start Time</label>
                                    <input value="" type="datetime-local" id="startTime" class="form-control border-input" ngModel name="startTime" required #startTime="ngModel" placeholder="MM/DD/YYYY">
                                    <span class="help-block" *ngIf="!startTime.valid && startTime.touched">Insert Start Time</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !endTime.valid && endTime.touched}">
                                    <label>End Time</label>
                                    <input value="" type="datetime-local" id="endTime" class="form-control border-input" ngModel name="endTime" required #endTime="ngModel" placeholder="MM/DD/YYYY">
                                    <span class="help-block" *ngIf="!endTime.valid && endTime.touched">Insert End Time</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !description.valid && description.touched}">
                                    <label>Description</label>
                                    <textarea rows="4" id="description" class="form-control border-input" ngModel name="description" required #description="ngModel" placeholder="Bio...">
                                    </textarea>
                                    <span class="help-block" *ngIf="!description.valid && description.touched">Insert Bio</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!f.valid">Done!</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
    </div>
</ng-template>