<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header" style="top: 200px;">
        <div class="row">
            <div class="col-md-6">
                <h4 class="modal-title">{{getTitleModal()}}</h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="header">
                <h4 class="title">{{getMessageModal()}}</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit(f, d(false))" #f="ngForm">
                    <div id="activityData" ngModelGroup="speakerData" #activityData="ngModelGroup">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !name.valid && name.touched}">
                                    <label>Name</label>
                                    <input type="text" id="name" class="crossSearch form-control border-input" ngModel name="name" placeholder="Name..." required #name="ngModel">
                                    <span class="help-block" *ngIf="!name.valid && name.touched">Insert Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !title.valid && title.touched}">
                                    <label>Title</label>
                                    <input type="text" id="title" class="crossSearch form-control border-input" ngModel name="title" placeholder="Title..." required #title="ngModel">
                                    <span class="help-block" *ngIf="!title.valid && title.touched">Insert Title</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !imageUrl.valid && imageUrl.touched}">
                                    <label>Url</label>
                                    <input type="text" id="imageUrl" class="crossSearch form-control border-input" ngModel name="imageUrl" placeholder="Image Url..." required #imageUrl="ngModel">
                                    <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Insert Image Url</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" class="form-group" [ngClass]="{'has-error': !Event_idEvent.valid && Event_idEvent.touched}">
                                    <label>Event</label>
                                    <select class="form-control" ngModel name="Event_idEvent" #Event_idEvent="ngModel" placeholder="Event..." required>
                                        <option *ngFor="let event of getEvents()"  [value]="event.getIdEvent()">{{event.getName()}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="!Event_idEvent.valid && Event_idEvent.touched">Insert Event...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [ngClass]="{'has-error': !bio.valid && bio.touched}">
                                    <label>Bio</label>
                                    <textarea rows="4" id="bio" class="form-control border-input" ngModel name="bio" required #bio="ngModel" placeholder="Bio...">
                                    </textarea>
                                    <span class="help-block" *ngIf="!bio.valid && bio.touched">Insert Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!f.valid">Done!</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(false)">Close</button>
    </div>
</ng-template>